 <div class="register">
            <form action="/register" class="sign-form" method="POST">
                <div class="register-title">
                    <h1>Register</h1>
                </div>
                <div class="register-input">
                    <div class="register-input1">
                        <input class="special" type="text" name="username" placeholder="USERNAME"/>
                    </div>
                    <div class="register-input1">
                        <input class="special" type="password" name="password" placeholder="PASSWORD"/>
                    </div>
                </div>
                <div class="register-suggestion">
                    <a href="/login">Already have an account?</a>
                </div>
                <div class="register-submit">
                    <button class="register-submit-btn" type="submit">Register</button>
                </div>
            </form>
        </div>